/* Fonts */
@import "https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap";
/* Colors */
/* Smooth scroll behavior */
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

body {
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #ee7623;
  overflow-x: hidden; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: #ffc732;
    text-decoration: none; }

h1 {
  font-family: "Antonio", sans-serif; }

h2 {
  font-family: "Antonio", sans-serif; }

h3 {
  font-family: "Antonio", sans-serif; }

h4 {
  font-family: "Antonio", sans-serif; }

h5 {
  font-family: "Antonio", sans-serif; }

h6 {
  font-family: "Antonio", sans-serif; }

section {
  padding: 80px 0;
  overflow: hidden; }

.section-bg {
  background-color: #19322f; }

.section-header {
  text-align: center;
  padding-bottom: 70px; }
  .section-header h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    color: colo; }
    .section-header h2:before {
      content: "";
      width: 50px;
      height: 2px;
      background: var(#ee7623);
      display: inline-block;
      margin: 0 15px 10px 0; }
    .section-header h2:after {
      content: "";
      width: 50px;
      height: 2px;
      background: var(#ee7623);
      display: inline-block;
      margin: 0 0 10px 15px; }
  .section-header p {
    margin: 0 auto 0 auto; }

#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out; }
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #fff;
    border-color: #ee7623;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1.5s linear infinite;
    animation: animate-preloader 1.5s linear infinite; }

.header {
  z-index: 997;
  position: absolute;
  padding: 30px 0;
  top: 0;
  left: 0;
  right: 0; }
  .header .logo img {
    max-height: 40px;
    margin-right: 6px; }
  .header .logo h1 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
    font-family: "Antonio", sans-serif; }
    .header .logo h1 span {
      color: #fff; }

.hero {
  overflow-x: hidden;
  padding: 0; }
  .hero .carousel {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    margin: 0;
    position: relative; }
  .hero .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    transition-duration: 0.4s; }
    .hero .carousel-item::before {
      content: "";
      background-color: #000000b3;
      position: absolute;
      inset: 0; }
  .hero .info {
    position: absolute;
    inset: 0;
    z-index: 2; }
    .hero .info h2 {
      color: #fff;
      margin-bottom: 30px;
      padding-bottom: 30px;
      font-size: 56px;
      font-weight: 700;
      position: relative; }
      .hero .info h2:after {
        content: "";
        position: absolute;
        display: block;
        width: 80px;
        height: 4px;
        background: var(#ee7623);
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto; }
    .hero .info p {
      color: #fff;
      font-size: 18px; }
    .hero .info .btn-get-started {
      font-family: "Antonio", sans-serif;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 40px;
      border-radius: 10px;
      transition: 0.5s;
      margin: 10px;
      color: #fff;
      border: 2px solid #ee7623; }
      .hero .info .btn-get-started:hover {
        background-color: #ee7623; }
  .hero .carousel-control-prev {
    justify-content: start;
    z-index: 3;
    transition: 0.3s; }
    .hero .carousel-control-prev:focus {
      opacity: 0.5; }
    .hero .carousel-control-prev:hover {
      opacity: 0.9; }
  .hero .carousel-control-next {
    justify-content: end;
    z-index: 3;
    transition: 0.3s; }
    .hero .carousel-control-next:focus {
      opacity: 0.5; }
    .hero .carousel-control-next:hover {
      opacity: 0.9; }
  .hero .carousel-control-next-icon {
    background: none;
    font-size: 26px;
    line-height: 0;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .hero .carousel-control-prev-icon {
    background: none;
    font-size: 26px;
    line-height: 0;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center; }

.gridDestacados {
  background-color: #52565e;
  color: #f5f6f7;
  padding: 20px;
  border-radius: 10px; }
  .gridDestacados p {
    font-size: 16px; }
  .gridDestacados h2 {
    font-size: 4em; }
  .gridDestacados h4 {
    font-size: 2em;
    margin-right: 40px; }
  .gridDestacados h5 {
    font-size: 2.2em;
    margin-right: 40px;
    text-align: center; }

.lead {
  font-size: 16px; }

.seccionBlog {
  align-self: center; }
  .seccionBlog p {
    color: #2e3135; }

.seccionBlogUno {
  background-color: #f5f6f7; }

.botonNormal {
  background-color: #ee7623;
  border-style: none;
  padding: 15px;
  width: 150px;
  font-family: "Antonio", sans-serif;
  border-radius: 10px; }
  .botonNormal:hover {
    border: 2px solid #ee7623;
    background-color: transparent;
    color: #ee7623; }

.card image {
  content: cover; }

.badge {
  width: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: none;
  border: solid 2px #ee7623;
  color: #ee7623; }

footer p {
  color: #2e3135; }

/*MEDIA QUERIES*/
@media (min-width: 1199px) {
  .section-header p {
    max-width: 60%; } }

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important; } }

@media (max-width: 768px) {
  .hero .info {
    padding: 0 50px; }
    .hero .info h2 {
      font-size: 36px; } }

@media (min-width: 640px) {
  .hero .carousel-control-prev {
    padding-left: 15px; }
  .hero .carousel-control-next {
    padding-right: 15px; } }

@media (max-width: 768px) {
  .elementosFooter {
    align-items: center; }
  .seccionBlogImagen {
    display: none; }
  .seccionBlog {
    padding: 40px;
    text-align: center; } }
